
<div class="container">
	<div class="row">
		<div class="col-md-3">
  		<p> sidebar </p>
  	</div>
  	
  	<div class="col-md-9">
			<div class="well">
					<h3><%= @book.name %></h3>
					<p> image </p>
					<p><%= @book.author %></p>
					<p><%= @book.description %></p>
			</div>
			

			<div class="well well-sm">
				<p> comment </p>
			</div>
		</div>

  

	</div>
</div>