<div class="container">

	<div class="row">
		<div class="col-md-3">
			<p> sidebar </p>
		</div>
		

		<div class="col-md-9">		
			<h4><%= @category.name %></h4><hr>
			<div class="well">
				<div id="books">
					<%= render 'shared/books', object: @books %>
				</div>
				<div id="paginator" class="pull-right">
					<%= paginate @books, remote: true %>
				</div>
				</div>
			</div>
		</div>




	</div>
</div>